@page "/"
@using LoRa_Sensor_Network_Blazor_Server_App.DatabaseLogic
@inject UplinkDataAccess DBService

<h1>LoRaNet Server</h1>
<h2>Server version: v.1.0.0</h2> <!--from a - d then + 1 -->
<h2>Last publish date 19.01.2022</h2>




@code {

}